.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  background: #fcf4f4;
  padding-bottom: 30px;
  border: #4c00b4;
  width: 60%;
  border-radius: 20px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text1{
  color: #c00100;
  font-size: 45px;
  font-weight: 700;
}

.text3{
  color: black;
  font-size: 25px;
  font-weight: 600;
}

.inputs{
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.input{
  display: flex;
  align-items: center;
  margin: auto;
  width: 380px;
  height: 60px;
  background-color: #eaeaea;
  border-radius: 6px;
}

.input img{
  margin: 0px 30px;
}

.input input{
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password{
  margin: auto;
  margin-top: 30px;
}

.forgot-password span{
  color: #4c00b4;
  cursor: pointer;
}

.submit-container{
  display: flex;
  gap: 30px;
  margin: 60px;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  color: black;
  background-color: #c00100;
  border-radius: 10px;
  margin: auto;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.remember{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.lacking-account{
  margin: auto;
}

.lacking-account span{
  color: red;
  cursor: pointer;

}

